@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #E6CCFF;
}

@variant dark (.dark &);

::-webkit-scrollbar {
  display: none;
}

.reset-tw :not(pre):not(code){
   all: revert;
}


.loader div:nth-child(2){
  animation-delay: 0.2s;
}

.loader div:nth-child(3){
  animation-delay: 0.4s;
}